
    <ion-view view-title="Article" class="text-center" id = "Article">
    <ion-content overflow-scroll="false"  has-bouncing="true">
       <!--Card-->
<div class="card">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask waves-effect waves-light"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->
<!-- modal view -->
        <ion-nav-view name="fabContent"></ion-nav-view>


  </ion-content>
  </ion-view>
