
 
    <ion-view view-title="Article" class="text-center">
    <ion-content overflow-scroll="true">
<div class="list card">

  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/postimg.jpg">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>

  <i class="button button-lightfa fa-eye" style="color:black"></i>
 
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                 <span class="avatar" style="background-image: url('img/ionic.png');"></span>
                    <strong>Jon Snow</strong> knows nothing.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div>
            </div>
        </div>

  </ion-content>

  </ion-view>

