
    <ion-view view-title="Home" class="text-center" id = "home">
    <ion-content overflow-scroll="false"  has-bouncing="true">
<div class="list card">

  <div class="item item-avatar">
    <img src="img/sri.jpg">
    <h2>Madura Herath</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
  <h2 class="title">Temple of the Tooth</h2>
    <img class="full-imagec wave ink" src="img/temple.jpg">
    <p>
      Sri Dalada Maligawa or the Temple of the Sacred Tooth Relic is a Buddhist temple in the city of Kandy, Sri Lanka. It is located in the royal palace complex of the former Kingdom of Kandy, which houses the relic of the tooth of the Buddha.
    </p>
    <p>


<md-button style="background-color: #F1A9A0 ;color: white">View</md-button>
 
      <a href="#" class="subdued">Reviews</a>
    </p>
  </div>

</div>
<!-- modal view -->
        <ion-nav-view name="fabContent"></ion-nav-view>


  </ion-content>
  </ion-view>
