      <ion-modal-view>
<ion-content direction="y" scrollbar-y="false">

    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
    </ion-refresher>

    <ion-list>
      <ion-item collection-repeat="item in items" >
        <p>{{item.text}}</p>
      </ion-item>
    </ion-list>

    <div ng-if="items !== undefined && !items.length" class="no-results">
      <p>No Results</p>
    </div>

  </ion-content>
      </ion-modal-view>


<!-- 
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button"  >Right Button</button>
  </div>
</ion-header-bar> -->