<ion-view view-title="Trips">
<ion-content>
<md-stepper-card-content class="md-no-padding">
<md-stepper id="stepper-demo" 
        md-mobile-step-text="$ctrl.isMobileStepText" 
        md-vertical="$ctrl.isVertical" 
        md-linear="$ctrl.isLinear"
        md-alternative="$ctrl.isAlternative">
        <md-step md-label="" >
            <md-step-body >   


<div ng-if="checked" style="height:200px;z-index: 0 !important;">

  <div flex class="layout-fill animate-fade-slide-in" id="map">

  </div>



  </div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Let's Plan Your Trip</span>
        <span class="md-subhead">If you need better experience in travelling fill this form </span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row">
      <div class="col col-sm-6">
        <md-input-container>
          <label>From</label>
          <input>
        </md-input-container>
      </div>
      <div class="col col-sm-6">
        <md-input-container>
          <label>To</label>
          <input>
        </md-input-container>
        </div>
   <!--      <md-input-container>
          <label>Duration</label>
          <md-select ng-model="ctrl.userState">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="item in items"" ng-value="state.abbrev" ng-disabled="$index === 1">
              {{items.length}}
            </md-option>
          </md-select>
        </md-input-container> -->
      </div>
      <div class=" text-center">
          <md-button class="md-fab" ng-disabled="false"   md-colors="PINK" aria-label="Comment">
            <label>Go</label>
        </md-button>
      </div>
<h3 class="md-headline">Places you might visit</h3><br>
<div class="row">    <div class="button-bar">
  <a class="button button-dark waves-effect waves-light ink">Eat</a>
  <a class="button button-dark waves-effect waves-light ink">Travel</a>
  <a class="button button-dark waves-effect waves-light ink">Sleep</a>
</div></div>
      <div class="row">
<div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/logo.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
     <md-button style="background-color: #F1A9A0 ;color: white">View</md-button>
     <md-button style="background-color: #3498db ;color: white">Add</md-button>
    </a>

        <a class="item item-avatar" href="#">
      <img src="img/sri.jpg">
      <h2>Temple Of tooth</h2>
      <p>Sri Dalada Maligawa or </p>
    </a>


        <a class="item item-avatar" href="#">
      <img src="img/logo.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>


        <a class="item item-avatar" href="#">
      <img src="img/logo.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

</div> 

    
      </div>
      <div class="row">        
        <div class="col col-6">
        <md-input-container>
            <md-switch  ng-model="checked" aria-label="checked">
           Map Enable ?
            </md-switch>
        </md-input-container>        
        </div>
          </div>
    </md-card-content>
  </md-card>           

            </md-step-body>
            <md-step-actions class = " text-center">
                <md-button class="md-primary md-raised" ng-click="$ctrl.nextStep();" type="submit">Next</md-button>

            </md-step-actions>
        </md-step>
        <md-step md-label="">
            <md-step-body>
              <md-card>
                <md-card-content>
                <div class="row">
              <div class="col pull-right">
                <h3 class="md-subhead " >Total Budget</h3>
               <h4 class="md-title" style="color: red">Rs 46,000/= </h4>
                </div>
                </div>
      <div layout="row" layout-align="space-between center">
        <span>What is your Trip Type?</span>
        <md-select ng-model="weapon" placeholder="Type" class="md-no-underline">
          <md-option value="2">Romantic</md-option>
          <md-option value="4">Family</md-option>
          <md-option value="1">Single</md-option>
          <md-option value="5">With friends</md-option>
        </md-select>
      </div>
      <div layout="row" layout-align="space-between center">
        <span>How many people are there?</span>
        <md-select ng-model="weapon" placeholder="Type" class="md-no-underline">
          <md-option value="1">1</md-option>
          <md-option value="2">2</md-option>
          <md-option value="3">3</md-option>
          <md-option value="4">4 friends</md-option>
          <md-option value="5">More</md-option>          
        </md-select>
      </div>
      <div layout="row" layout-align="space-between center">
        <span>Night Method</span>
        <md-select ng-model="weapon" placeholder="Type" class="md-no-underline">
          <md-option value="1">None</md-option>
          <md-option value="2">5 Star Hotel</md-option>
          <md-option value="3">Resturent</md-option>
          <md-option value="4">Camping</md-option>
          <md-option value="5">Other</md-option>          
        </md-select>
      </div>

        <fieldset class="standard" >
          <h2>Events  </h2>
          <div layout="row" layout-wrap flex>
            <div flex="50" ng-repeat="item in events">
              <md-checkbox ng-checked="" ng-click="toggle(item, selected)">
                {{ item }} <span ng-if="">selected</span>
              </md-checkbox>
            </div>
          </div>
        </fieldset>
    </md-card-content>
  </md-card> 


            </md-step-body>
            <md-step-actions>
                <md-button class="md-primary md-raised" ng-click="$ctrl.nextStep();">Continue</md-button>
                <md-button class="md-primary" ng-click="$ctrl.previousStep();">Back</md-button>
            </md-step-actions>
        </md-step>
        <md-step md-label="">
            <md-step-body>
              <md-card>
                <md-card-content>
                   <h3>Hotels</h3>
                </md-card-content>
              </md-card> 

              <md-card>
                <md-card-content>
                   <h3>Hotels</h3>
                </md-card-content>
              </md-card> 


            </md-step-body>
            <md-step-actions>
                <md-button class="md-primary md-raised" ng-click="$ctrl.nextStep();">Continue</md-button>
                <md-button class="md-primary" ng-click="$ctrl.previousStep();">Back</md-button>
            </md-step-actions>
        </md-step>    </md-stepper>
</md-stepper-card-content>
</ion-content>
</ion-view>
