/* Empty. Add your own CSS if you like */ 
body{ 
  background-color: #34495e !important; 
} 
 
.app-icon { 
    background-color: #fff; 
    background: url('../img/logo.ico') center; 
    background-size: cover; 
    border-radius: 50%; 
    height: 125px; 
    margin: 0 auto; 
    width: 125px; 
} 
.social-icon { 
    background-color: #fff; 
    background-size: cover; 
    height: 55px; 
    margin: 0 auto; 
    width: 55px; 
} 
 
.social-login { 
    position: fixed; 
    bottom: 0; 
} 
 
ion-header-bar { 
  background-color: #e74c3c !important; 
} 
 
/* Menu 
==================================*/ 
.menu .bar.bar-header.expanded { 
    transition: all .5s ease-in-out; 
} 
 
.menu-open .bar.bar-header.expanded { 
    background-color: #222; 
} 
 
.menu h2 { 
    bottom: 0; 
    font-size: 18px; 
    left: 16px; 
    position: absolute; 
} 
 
.menu .avatar { 
    height: 88px; 
    width: 88px; 
} 
 
.menu.menu-left * { 
    font-weight: bold; 
} 
 
.menu-open .ion-navicon { 
    transform: rotate(-360deg); 
    -webkit-transition: all 0.2s ease-in-out; 
    transition: all 0.2s ease-in-out; 
} 
 
.menu-open .ion-navicon:before { 
    content: "\f2ca"; 
} 
#map { 
    width: 100%; 
    height: 100%; 
}

.signup{
   display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  background: #fff; /* fallback color for old browsers */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

.signup:hover,
.signup:focus,
.signup:active {
  background: #fff;
  color: #000;
  transition: all 0.5s ease-in;
}
$brand-primary: #2196F3; // Blue 500
$brand-muted: rgba(0,0,0,.38);
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-400: #BDBDBD;
$border-radius: 3px;
$shadow-z-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);


// Module - Stepper (style structure based on http://maintainablecss.com)

.stepper {
    background-color: #fff;
    margin-bottom: 90px;
    border-radius: $border-radius;
    box-shadow: $shadow-z-1; 
}

.stepper-steps {    
    height: 72px;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $shadow-z-1;
}

.stepper-steps-isOffset {
    position: relative;
    top: -30px;
    margin: 0 15px -30px 15px;
}

.stepper-content {
    padding: 24px;
}

.stepper-step {
    float: left;
    width: 33.333333333333%; // fixme: only works because there's 3 steps
    padding: 24px;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    position: relative;
    text-align: center;

    &:not(.stepper-step-isDisabled):hover, 
    &:not(.stepper-step-isDisabled):hover .stepper-stepContent {
       background-color: $grey-100;
    }
    
    &:first-child {
        text-align: left;
    }
    
    &:last-child {
        text-align: right;
    }
}

// Connector line
.stepper-step {
    &::after {
        content: '';
        position: absolute;
        bottom: 36px;
        left: 0;
        right: 0;
        height: 1px;
        background: $grey-400;
    }
    &:first-child::after {
        left: 24px;
    }
    &:last-child::after {
        right: 24px;
    }
}

.stepper-step-isActive {
    font-weight: 600;
}

.stepper-step-isValid {
    font-weight: 600;
}

.stepper-step-isDisabled {
    color: rgba(0,0,0,.38);
    cursor: default;
}

.stepper-stepMarker {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    text-align: center;
    color: white;
    line-height: 24px;
    background-color: $brand-muted;
    border-radius: 24px;
    font-weight: 100;
    font-size: 12px;
}

.stepper-step-isActive .stepper-stepMarker {
    background-color: $brand-primary;
}

.stepper-step-isValid .stepper-stepMarker {
    text-indent: -10000px;
    background: url('data:image/svg+xml;charset=utf8,<svg fill="#FFFFFF" height="20" viewBox="0 0 24 24" width="19" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/> <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>') no-repeat $brand-primary;
    background-position: 2px 1px;
    background-color: $brand-primary;
}

// colored block to cover the connector line where needed
.stepper-stepContent {
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 0 8px;
    background-color: #fff;
}





